.container-header-billing {
    box-sizing: border-box;
    border-bottom: 1px solid #ACD9C5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7.2rem;
    padding: 4rem;
    margin: 2.4rem;
    position: relative;
}

.header-title-billing h1 {
    color: #0E8750;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin-left: 5rem;
    margin-top: 4rem;
}

.header-user {
    color: #0E8750;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.user-initals {
    background: #DEDEE9;
    border-radius: 100%;
}

.user-initals h3 {
    font-size: 2.2rem;
    text-align: center;
    padding: 1.2rem;
}

.header-user span {
    font-size: 1.8rem;
}

.header-user img {
    cursor: pointer;
    margin-right: 11rem;
}