:root {
    --color-bg-buttons: #DA0175;
    --color-grey-buttons: #F8F8F9;
    --color-titles: #343447;
    --color-bg-steps: #F0F0F5;
    --color-inputs: #667085;
    --color-border-inputs: #D0D5DD;
}