.container-card-billing {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

.card-billing-top {
    background: #FFFFFF;
    box-shadow: 0px 0.4rem 0.4rem rgba(172, 217, 197, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 36rem;
    height: 5.8rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2rem 2rem 0 0;
}

.card-billing-top h3 {
    color: #3F3F55;
    font-weight: 600;
    font-size: 1.8rem;
}


.card-billing-top-number {
    background: #FFEFEF;
    border-radius: 0.8rem;
    width: 5.2rem;
    height: 2.1rem;
    text-align: center;
    color: #971D1D;
}

.card-billing-top-number strong {
    font-weight: 700;
    font-size: 1.6rem;
}

.card-yellow {
    background-color: #FCF6DC;
    color: #C5A605;
}

.card-green {
    background-color: #EEF6F6;
    color: #1FA7AF;
}

.card-billing-table table {
    background: #FFFFFF;
    border-radius: 0px;
    font-family: 'Nunito', sans-serif;
    width: 36rem;
    height: 29.1rem;
}

.card-billing-table thead {
    color: #3F3F55;

}

thead th {
    font-weight: 700;
    font-size: 1.6rem;
}

.card-billing-table tbody {
    color: #6E6E85;

}

tbody td {
    font-weight: 400;
    font-size: 1.4rem;
}

th,
td {
    border-bottom: 1px solid #EFF0F7;
    text-align: center;
}

.card-billing-bottom {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(172, 217, 197, 0.25);
    color: #DA0175;
    font-family: 'Nunito', sans-serif;
    width: 36rem;
    height: 4.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
}

.card-billing-bottom span {
    font-size: 1.8rem;
    font-weight: 400;
}

.card-billing-bottom:hover {
    opacity: 0.8;
}